@page
@using BikeshareClient.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Oslo Bysykkel Map</h2>

<h4>Select a bike on the map to see availability</h4>
<div id='map' class="map"></div>
<script>

    //init mapbox
    mapboxgl.accessToken = 'pk.eyJ1Ijoid2FycmVkYiIsImEiOiJja3o4OHI3cGMwdDM1MnVtdWZpNDlraGoyIn0.pmnqIRMaBQV8V5dKnClK0w';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [10.743540765932096,59.929798453700073],
        zoom: 11.5
    });

    // add markers to map from geoJSON
    const geoJSON = @Html.Raw(ViewData["GeoJson"]);
    for (const feature of geoJSON.features) {
        // create an element for each feature
        const el = document.createElement('div');
        el.className = 'marker fas fa-bicycle';

        // make a marker for each feature and add it to the map
        new mapboxgl.Marker(el)
        .setLngLat(feature.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(`<h3>${feature.properties.Title}</h3>
            <p>${feature.properties.Address}
            </br>Capacity:${feature.properties.Capacity}
            </br>Docks Available:${feature.properties.DocksAvailable}
            </br>Bikes Available:${feature.properties.BikesAvailable}
            </p>`)
        )
        .addTo(map);
    }
</script>

